# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python/
.venv/
env/
venv/
ENV/

# OpenCV / FastAPI Temp Output
*.mp4
*.avi
*.gif
*.jpg
*.png
!assets/*.jpg
!static/previews/*.jpg
!static/LOGO.jpg
!static/*.jpg
!static/*.png
!static/*.svg
!static/favicon.ico


# Database & Storage
artcv.db
uploads/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
